body,
h1,
h2,
p,
a,
button {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.header-title {
    font-size: 24px;
}

.container {

    width: 100%;
    overflow: hidden;
}

.games {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: auto auto auto auto;
    gap: 70px;
    background-color: #fff;
    padding: 20px;


}

.game {
    text-align: center;
    box-shadow: 10px 10px 20px black;
    background-color: aquamarine;
    padding: 20px 35px;
    transition: .6s;
}

.game:hover {
    padding: 30px 50px;
}

.game:hover .game-btn {
    padding: 15px 30px;
}

.game-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.game-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: .6s;
}

.game-btn:hover {
    background-color: #555;
}

.reklama {
    width: 20%;
    float: right;
    box-sizing: border-box;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body,
h1,
h2,
p,
a,
button {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.header-title {
    font-size: 24px;
}

.container {

    width: 100%;
    overflow: hidden;
}

.games {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: auto auto auto auto;
    gap: 70px;
    background-color: #fff;
    padding: 20px;


}

.game {
    text-align: center;
    box-shadow: 10px 10px 20px black;
    background-color: aquamarine;
    padding: 20px 35px;
    transition: .6s;
}

.game:hover {
    padding: 30px 50px;
}

.game:hover .game-btn {
    padding: 15px 30px;
}

.game-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.game-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: .6s;
}

.game-btn:hover {
    background-color: #555;
}